---
---

@import "{{ site.theme }}";

header {
  display: none;
}

footer {
  display: none;
}

@media print, screen and (min-width: 961px) {
    section {
        float: none;
        position: static;
        width: auto
    }
}
